{% extends "base.html" %}
{% block title %} - About{% endblock %}
{% block body %}
<h1>ABOUT</h1>
<p align="justify">
Welcome to our About page! This small project was set up as part of out Interasctive Systems (H) course. This project is a web application to be used by runners. The users are given the option to choose an existing route to follow for their run or upload a new route. In order to upload a new one they will need to create a gpx file while they run and then this will be uploaded to the database where all routes are found.</p>
<p align="justify">
Enjoy! </p>
{% endblock body %}

