{% extends "base.html" %}
{% block title %}- Profile{% endblock %}
{% block body %}
        <div class="jumbotron">
           <h1>Runify App</h1>
           <p class="lead"></p>
           <p><a class="btn btn-lg btn-success" href="{{ url_for('register') }}" role="button">Sign up today</a></p>
       </div>

       <div class="row marketing">
            <div class="col-lg-6">
                <h4>Upload your route</h4>
                <p>You can choose an existing route for your run or you can even upload your own!</p>

                <h4>Created with runnners in mind</h4>
                <p>This application has been made with the user in mind. It's intuitive and easy to use!</p>

                <h4>Have your own profile</h4>
                <p>You have a profile all to yourself where you can see your previous runs and can even compete with your friends!</p>
            </div>
       </div>

       <div>
         <h4>Recently uploaded routes</h4>
       </div>

{% endblock body %}

