{% extends "base.html" %}
{% block title %}- Login{% endblock %}
{% block body %}
    <div class="container">
        <h1>Please login</h1>
        <br>
        <form class="login-form" action="" method="post">
            <div class="container">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
            
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                    
                <button class="submit-button" type="submit">Login</button>
            </div>
            
            <!-- <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>


            <input type="text" placeholder="Username" name="username" size="50" >
            <br />
            <input type="password" placeholder="Password" name="password" size="50">
            <br />
            <input class="button" type="submit" value="Login"> -->
        </form>
        
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}

    </div>

{% endblock body %}
