{% extends "base.html" %}
{% block title %}- Profile{% endblock %}
{% block body %}
    <h1>REGISTER</h1>
    <br>
    <p align="left">
        Please Complete all fields in order to complete registration
    </p>
    <form action="" method="post" align="left">
        <input type="text" placeholder="Username" name="username"><br>
        <input type="text" placeholder="Email Adress" name="email"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="submit" value="Register" href="{{ url_for('home') }}">
    </form>

{% endblock body %}
