{% extends "base.html" %}
{% block body %}
        <div class="block1">
            <h1>Statistics</h1>
            <h2>Avg. Speed km/h</h2>
            <p>
            4km/h
            </p>
            
            <h2>Current Speed km/h</h2>
            <p>
            3km/h
            </p>
            
            <h2>Current Slope</h2>
            <p>
            1m
            </p>

            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>

            <form method="get" action="{{ url_for('tracking') }}">
                <button id="btn" onclick="function();" type="submit" class="button">Back to Tracking</button>
            </form>

        </div>
{% endblock %}
