{% extends "base.html" %}
{% block body %}
        <div class="block1">
            <h1>Hello! Welcome to APPNAME!</h1>
	    <img src="http://is3.mzstatic.com/image/thumb/Purple122/v4/13/96/2a/13962aaf-97f5-387e-4d79-142e95280b0d/source/175x175bb.jpg" alt="Logo" width="350" height="200">
            <h2>Track your marathon</h2>
            <p>
            "Please sign up or login in order to proceed"
            </p>

            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>

        </div>
{% endblock %}
