
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: grey ;
    background-color: lightgrey;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: grey ;
    font-size: 2.5em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: grey ;
    font-size: 1.5em;
}

.fit {
    max-width: 100%;
    max-height: 100%;
}

.center {
    display: block;
    margin: auto;
}

.img-responsive {
    background-size: 100%
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}