
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: grey ;
    background-color: lightgrey;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #333 ;
    font-size: 2.5em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: grey ;
    font-size: 1.5em;
}

.fit {
    max-width: 100%;
    max-height: 100%;
}

.center {
    display: block;
    margin: auto;
}

.img-responsive {
    background-size: 100%
}





/* =================== NAVIGATION BAR =================== */

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}




/* =================== LOGIN =================== */

.custom-form {
    border: 3px solid #f1f1f1;
    position: relative;
    display: inline-block;
    text-align: left;
    max-width: 33%;
    min-width: 150px;
}

.container {
    padding: 16px;
}

.submit-button {
    background-color: #4CAF50;
    font-size: 20px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    opacity: 0.8;
}

.cancel-button {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }

    .cancel-button {
       width: 100%;
    }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #333;
    font-size: 20px;
    box-sizing: border-box;
}


/* =================== SUBMIT =================== */





